.con-d-flex{
  width: 50%;
  /*position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);*/
}


.panel-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-heading p{
  margin: 0;
  font-weight: bold;
}

.panel-body p{
  padding: 0 10px;
}

.disp-button{
  margin-bottom: 3vh;
}

.fontWhite{
  color:white;
}
